/* Base styles */
.social-icons ul {
    position:absolute; /* or position: absolute; */
    top: 0;
    left: 0;
    width: 100%; /* Make it span the full width */
    display: flex;
    justify-content: center; /* Center items horizontally */
    padding: 10px 0; /* Add padding for spacing */
    margin: 0;
   
    z-index: 1000; /* Ensure it's above other content */
}

.social-icons ul li {
    list-style-type: none;
    margin: 0 15px;
}

.social-icons ul li.fab-brands {
    font-size: 55px;
    line-height: 60px;
    transition: .3s;
    color: #000;
}

.social-icons ul li.fab-brands:hover {
    color: #fff;
}

.social-icons ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgb(245, 243, 243);
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: .6s;
}

.social-icons ul li a:hover,
.social-icons ul li a:active { /* Add active state for touch devices */
    transform: translate(0, -10%);
}

/* Add a new class for zoom effect */
.social-icons ul li.zoom-effect {
    transform: scale(1.2); /* Scale the icon */
    transition: transform 0.3s ease; /* Smooth transition */
}

/* Specific hover colors */
.social-icons ul li:nth-child(1) a:hover,
.social-icons ul li:nth-child(1) a:active {
    background-color: rgba(235, 21, 160, 0.949);
}

.social-icons ul li:nth-child(2) a:hover,
.social-icons ul li:nth-child(2) a:active {
    background-color: rgba(28, 100, 233, 0.949);
}

.social-icons ul li:nth-child(3) a:hover,
.social-icons ul li:nth-child(3) a:active {
    background-color: rgba(43, 239, 131, 0.851);
}

.social-icons ul li:nth-child(4) a:hover,
.social-icons ul li:nth-child(4) a:active {
    background-color: rgb(87, 172, 246);
}

.social-icons ul li:nth-child(5) a:hover,
.social-icons ul li:nth-child(5) a:active {
    background-color: rgba(4, 27, 68, 0.883);
}

/* Responsive styles for tablets and smaller screens */
@media (max-width: 768px) {
    .social-icons ul li {
        margin: 0 10px;
    }
    .social-icons ul li.fab-brands {
        font-size: 45px;
        line-height: 50px;
    }
    .social-icons ul li a {
        width: 50px;
        height: 50px;
    }
}

/* Responsive styles for mobile devices */
@media (max-width: 480px) {
    .social-icons ul {
        padding: 5px 0; /* Adjust padding for smaller screens */
    }
    .social-icons ul li {
        margin: 0 5px; /* Reduce margin for smaller screens */
    }
    .social-icons ul li.fab-brands {
        font-size: 35px;
        line-height: 40px;
    }
    .social-icons ul li a {
        width: 40px;
        height: 40px;
    }
}
